
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
body{
	font-family: 'Roboto', sans-serif;
}


.item{
	width: 300px;
	height: 200px;
}

.menu{
	text-align: center;
	font-size: 23px;
	
}

a{
	margin: 10px;
	color: rgb(185, 4, 4);
	padding: 10px;
	text-decoration: none;
	border: 1px solid #000;
	border-radius: 20px;
	box-shadow: 7px 8px 5px rgb(185, 4, 4);
	font-weight: 900;
}

a:hover{
	box-shadow: -7px 8px 5px rgb(185, 4, 4);
	transition: 0.10s;

}

.content{
	padding: 20px 0px 20px 0px;
   
}


h1{
	font-family: 'Pacifico', cursive;
	text-align: center;
}

h2{
	font-family: 'Pacifico', cursive;
	text-align: center;
	color: rgb(176, 10, 209);
}



img{
	width: 100%;
}

.row{
	justify-content: space-between;
	display: flex;
	margin: 10px 0px 0px 0px;
}

.salads .row {
	justify-content: center;
	margin: 10px 0px 0px 0px;
}

.hot .row {
	justify-content: center;
	margin: 10px 0px 0px 0px;
}

.container{
	margin: 0 auto;
	width: 1180px;
}


.item{
	width: 32%;
	height: 350px;
	border: 2px solid rgb(176, 10, 209);
}

.salads .item{
   margin: 0px 10px 0px 10px;
}

.hot .item{
   margin: 0px 10px 0px 10px;
}

.item__img{
	width: 100%;
	height: 270px;
}

img{
	width: 100%;
	height: 100%;
}


.item__text{
	text-align: center;
	font-weight: 900;
}


span{
	font-weight: 400;
}

.desserts{
	padding: 100px 0px ;
}


.table__text{
	text-align: center;
	color: rgb(176, 10, 209);
   font-size: 30px;
	font-weight: 900;
	font-family: 'Pacifico', cursive;
}


td {
	border-color: #000;
	font-size: 20px;
	border-style: solid; 
	padding: 20px 0px;
}

   table{
   border-collapse: collapse;
   width: 80%;
	padding: 90%;
	background-color: blanchedalmond;
	text-align: center;
	margin: 0 auto;
	font-weight: 700;
} 


.table-head{
	background-color: burlywood;
	color: crimson;
	font-weight: 900;
	font-size: 40px;
}